* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-centered {
  display: flex;
  align-items: center;
}

.text-bold {
  font-weight: bold;
}

h1 {
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: 1rem;
}

.card {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 15px;
  margin: 0.5rem;
  padding: 1rem;
}

.button {
  cursor: pointer;
  margin: 0.5rem;
  margin-left: 1rem;
  padding: 0.75rem;
  border: 1px black solid;
  border-radius: 15px;
  transition: all 0.3s ease;
  /* background-color: rgb(219, 219, 219); */
}

.button:hover {
  opacity: 0.8;
}

.button--active {
  background-color: rgb(28, 28, 231);
  color: white;
}

.text-center {
  text-align: center;
}

.input {
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 0 0.5rem 0.5rem;
    border-radius: 5px;
}